

body{
    background-image: url("./back\ log.jpg");
    background-size: cover;
    background-position: center;
    
}
.sign-login{
    height: 210px;
    width: fit-content;
    text-align: center;
    align-items: center;
    border-radius: 20px;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50% );
    box-shadow: 20px 20px 50px 40px rgba(29, 185, 206, 0.548);
    background-color: rgb(45, 70, 64);
}
.imgg-login{
    width: 30%;
    height: fit-content;

}
.sp-login{
    margin-right: 10px;
    margin-top: 10px;;
    margin-bottom: 10px;
}